* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: cadetblue;
 }
 
 .african-dish-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .col-4 {
     background-color: brow
 }
 
 .welcome {
     font-style: italic;
     font-size: medium;
     color: antiquewhite;
     width: 100%;
     height: 100%;
 }
 
 .website-name {
     font-style: italic;
     font-weight: 600;
     font-size: x-large;
     color: cyan;
     width: 100%;
     height: 100%;
 }
 
 .website-slogan {
     font-style: italic;
     font-size: medium;
     color: bisque;
     width: 100%;
     height: 100%;
 }
 
 
 .row.justify-content-center {
     justify-content: center;
   }
   
   /* Set a fixed width for the button */
   .btn-lg {
     width: 100px; /* Adjust the value as needed */
   }

   /*** Media Queries ***/

   /**
   Extra small and small screen
   
   @media (max-width: 767px){
    .medium-screen-layout{
        display: none;
    }
   }
       /**
   Extra small and small screen
   
   @media (min-width: 768px){
    .small-screen-layout{
        display: none;
    }
   }**/