* {
    margin: 0;
    padding: 0;
}

/* General styling */
html, body{
    width: 100vw;
}

html, body{
    overflow-x: hidden;
}

/* Header section */
.header-section{
    background-color: cadetblue;
}

#brand-name{
    color: #E0FFFF;
    font-size: 1.6em;
    font-weight: bolder;
    margin: auto;
    margin-inline-start: 0;

}

.search-icon-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.nav-icon{
margin-left: -5px;
}

.menu-item{
    color: #E0FFFF;
}

.menu-item:hover, .menu-item.active{
    color: hsl(123, 89%, 51%) !important;
}



.header-container button:nth-child(4){
   border-radius: 20%;
    margin-left: 30px;
    margin-right: 20px;
    border: none;
}

 



/* Main */
.main-container{
    background-color: #E0FFFF;
}

h1, h2, h3, p{
color:hsl(60, 1%, 19%);
}

 
 .hero-details{
    max-height: 40vh;
    margin-bottom: 2px;
    margin-top: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
 }

button{
    display: flex;
    justify-content: center;
    border: none;
    margin: auto;
 }

 .african-dish-image {
    border-radius: 20px;
    margin: 5px;
}


.welcome h5 {
    font-style: italic;
    font-size: 1.1em;
    /*color: antiquewhite;*/
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
}

.website-name h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2em;
/*     color: cyan;*/
    width: 100%;
    text-align: center;
}

.website-slogan h5 {
    font-style: italic;
    font-size: 1.1em;
/*     color: bisque;*/
    width: 100%;
    text-align: center;
    margin-top: -15px;
}

 .row.justify-content-center {
     justify-content: center;
   }

   /* Gallery Section */
   #gallery-section{
    background-color:#E0FFFF;
    margin-left: 20px;
   }
   .gallery-card{
    text-align: center;
   }

   .card{
    background-color: #E0FFFF;
    border: none;
   }

   .card:hover, .card.active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   }
   /* Set a fixed width for the button */
   /* Footer section */
.footer-section{
    background-color: cadetblue;
}
   /*** Media Queries 
   Creamy White: #FFFFF0
   Light Green: #C7E5C9***
   Soft Gray: #ECECEC
   Warm Beige: #F5F5DC
   Light Blue: #E0FFFF
   ***/

   
    @media (min-width: 768px) {
    .hero-details{
        max-height: 60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .welcome h5, .website-slogan h5{
       font-size: 1.5em;
    }
    .website-name h1 {
        font-size: 3.5em;
     }
}
